---
http_interactions:
- request:
    method: post
    uri: https://sandbox.zenodo.org/api/deposit/depositions?access_token=notarealaccesstoken
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files": [], "created": "2015-07-23T13:06:20+00:00", "title": "", "modified": "2015-07-23T13:06:20+00:00", "submitted": false, "state": "inprogress", "owner": 15665, "id": 38762, "metadata": {"embargo_date": null, "contributors": [], "partof_title": null, "journal_volume": null, "grants": [], "references": [], "keywords": [], "publication_type": "", "imprint_publisher": null, "title": null, "image_type": "", "partof_pages": null, "imprint_isbn": null, "thesis_supervisors": [], "conference_url": null, "subjects": [], "imprint_place": null, "journal_issue": null, "access_right": null, "conference_acronym": null, "conference_title": null, "description": null, "journal_title": null, "access_conditions": null, "upload_type": null, "prereserve_doi": null, "communities": null, "publication_date": null, "conference_place": null, "conference_session_part": null, "doi": "", "license": null, "notes": "", "journal_pages": null, "conference_dates": null, "creators": [], "conference_session": null, "related_identifiers": []}}'
  recorded_at: Thu, 23 Jul 2015 13:06:20 GMT
recorded_with: VCR 2.9.3
