---
http_interactions:
- request:
    method: get
    uri: https://sandbox.zenodo.org/api/deposit/depositions/38762/files?access_token=notarealaccesstoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id": "2876f91e-6427-4c09-b56f-f592fa0f492a", "checksum": "ad0ab187d29391718024488cca571c10", "filesize": "54", "filename": "dummy_data.csv"}]'
  recorded_at: Thu, 23 Jul 2015 13:32:34 GMT
recorded_with: VCR 2.9.3
