---
http_interactions:
- request:
    method: post
    uri: https://sandbox.zenodo.org/api/deposit/depositions/1028/actions/publish?access_token=notarealaccesstoken
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      X-Sentry-Id:
      - None
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files": [{"id": "e51278ca-d94b-4fc5-9574-6a690cbdc557", "checksum": "a6d3f05029921f2899cb3dbe82b0000b", "filesize": "4258", "filename": "3e21ae50-1cc1-0133-df03-08002773490d.dat"}], "created": "2015-08-04T12:10:56+00:00", "title": "a test thing", "modified": "2015-08-17T09:33:21+00:00", "submitted": true, "state": "done", "owner": 49, "id": 1028, "metadata": {"embargo_date": null, "contributors": [], "partof_title": null, "journal_volume": null, "grants": [], "references": [], "keywords": [], "publication_type": "", "title": "a test thing", "image_type": "", "partof_pages": null, "conference_url": null, "thesis_supervisors": [], "imprint_isbn": null, "subjects": [], "imprint_place": null, "journal_issue": null, "access_right": "closed", "conference_acronym": null, "conference_title": null, "description": "<p>dgsdgsg</p>", "journal_title": null, "access_conditions": null, "upload_type": "dataset", "communities": [], "publication_date": "2015-08-04", "conference_place": null, "creators": [{"orcid": "", "affiliation": "", "name": "Bacall, Finn", "gnd": ""}], "conference_session_part": null, "doi": "10.5072/zenodo.319", "license": null, "notes": "", "journal_pages": null, "conference_dates": null, "imprint_publisher": null, "conference_session": null, "related_identifiers": []}, "record_id": 319, "record_url": "https://sandbox.zenodo.org/record/319", "doi": "10.5072/zenodo.319", "doi_url": "http://dx.doi.org/10.5072/zenodo.319"}'
  recorded_at: Mon, 17 Aug 2015 09:33:21 GMT
recorded_with: VCR 2.9.3
